{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>QOTD</title>
    <link rel="stylesheet" type="text/css" href="{% static 'qotd/styles.css' %}"/>
</head>

<body>
<div id="header">
    <img src="{% static 'qotd/images/logo.png' %}" alt="logo"/>
</div>
<ul id="menu">
    <li>
        <a href="/">
           Next Quote
        </a>
    </li>
</ul>
<div id="quote">
    <q>{{ quote.content }}</q>
    <p>
        - {{ quote.author }}, <i>{{ quote.dateCreated | date }}</i>
    </p>
</div>
</body>
</html>